langchain>=0.0.195
pinecone-client==2.2.2
python-dotenv==1.0.0
transformers[torch]==4.30.1
InstructorEmbedding
sentence-transformers==2.2.2
protobuf==4.23.2
openai

urllib3==1.25.11
accelerate==0.20.3
bitsandbytes==0.39.0
openpyxl
pdfminer.six==20221105